<!-- <h3>ようこそ！画像をここに貼付けして下さい</h3> -->
<input type="file" id="fileSelector" accept="image/*" />

<ul id="fileContentList" style="list-style-type: none;"></ul>

<%#= link_to '練習', :practice_top_index %>
